[submodule "extern/unqlite"]
	path = extern/unqlite
	url = https://github.com/symisc/unqlite
[submodule "extern/vedis"]
	path = extern/vedis
	url = https://github.com/symisc/vedis
[submodule "extern/scons"]
	path = extern/scons
	url = https://github.com/SCons/scons.git
[submodule "extern/cppcodec"]
	path = extern/cppcodec
	url = https://github.com/tplgy/cppcodec.git
